<!DOCTYPE html>
<html>

<head>
	{{> meta}}
	<title>CoreDataNet</title>
    <link rel="stylesheet" href="{{isProd '/styles/shared.css' prod}}">
    <link rel="stylesheet" href="{{isProd '/styles/vendor.css' prod}}">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
	- only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{#if prod}}
		{{> yandexMap}}
		{{> metrika}}
	{{/if}}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

	{{> navbar}}

	{{!-- <div class="main-wrapper">
		<!--
			Flash messages allow you to display once-off status messages to users, e.g. form
			validation errors, success messages, etc
		-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
	</div> --}}
	<div>
		{{{body}}}
		<div class="up-button">
			<i class="fa fa-arrow-up" aria-hidden="true"></i>
		</div>
	</div>


	{{> footer}}
	{{> sidenav}}

	{{> weirdShaders}}

    <script src="{{isProd '/js/vendor.bundle.js' prod}}"></script>
    <script src="{{isProd '/js/shared.bundle.js' prod}}"></script>
	<script src="/js/blocks.bundle.js" async defer></script>
</body>

</html>