{{!< info}} <div class="blog">
	<h2 class="blog-header">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i> Новости
	</h2>
	<div class="row blog-content">
		<div class="posts">
			{{#each data.posts.results}}
			<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}"
				class="post">
				<h4 class="title">
					<a href="{{postUrl slug}}">{{{title}}}</a>
				</h4>
				{{!-- {{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}"
					class="img pull-right">{{/if}} --}}
				<p>{{{content.brief}}}</p>

				{{#if content.extended}}
				<p class="read-more">
					<a href="{{postUrl slug}}" class="btn btn-outline-info">
						<i class="fa fa-sticky-note" aria-hidden="true"></i>
						Читать
					</a>
				</p>
				{{/if}}
				<hr>
				<p class="lead text-muted" style="font-size: 1.0rem;">
					{{{categoryList categories prefix="Добавлено в "}}}
					{{#if author.name.first}} <br class="d-block"> <span style="font-size: 0.9rem;">Автор:
						{{author.name.first}}</span>{{/if}}
				</p>
			</div>
			{{/each}}
		</div>
		<div class="categories">
			<div class="categories-content sticky">
				<h3 class="title">Категории</h3>
				<div class="list-flush-rounded shadow-sm bg-white">
					<a href="/blog" class="active list-group-item list-group-item-action">Все категории</a>
					{{#each data.categories }}
					<a href="{{categoryUrl key}}" class="list-group-item list-group-item-action">{{name}}</a>
					{{/each}}

				</div> <!-- list-group -->
			</div>
		</div>
	</div>
	<div class="mt-sm-0">
		{{>pagination}}
	</div>
	</div>