{{!-- <div class="container-info">
	<div class="container">
		<h1 class="py-4">Contact Us</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6">
				{{#if enquirySubmitted}}
				<h3>Thanks for getting in touch.</h3>
				{{else}}
				<form method="post">
					<input type="hidden" name="action" value="contact">
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<label>Name</label>
						<input type="text" name="name.full" class="form-control" value="{{formData.[name.full]}}">
					</div>
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<label>Email</label>
						<input type="email" name="email" class="form-control" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" name="phone" placeholder="(optional)" class="form-control"
							value="{{formData.phone}}">
					</div>
					<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
						<label>What are you contacting us about?</label>
						<select name="enquiryType" class="form-control">
							<option value="">(select one)</option>
							{{#each enquiryTypes}}
							<option value="{{value}}">{{label}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
						<label>Message</label>
						<textarea name="message" placeholder="Leave us a message..." rows="4"
							class="form-control">{{formData.message}}</textarea>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-outline-info btn-lg">Send</button>
					</div>
				</form>
				{{/if}}
			</div>
		</div>
	</div>
</div> --}}

<div class="container-info">
	<div class="container py-4">
		<h1 class="display-4 d-none d-sm-block"> Контакты </h1>
		<h1 class="d-block d-sm-none"> Контакты </h1>
	</div>
	<div class="container">
		<div class="row bg-light">
			<div class="col-12 p-0 shadow" style="width: 100vw; height: 100vh; max-width: 100%; max-height: 500px"
				id="map">
			</div>
		</div>
	</div>
	<div class="container bg-light p-4 rounded-bottom text-dark border border-top-0">
		<div class="row">
			<div class="col-12 mb-4">
				Центр обработки данных CoreДataNet расположен в шаговой доступности от Аэропорта
				местных линий, в Кировском административном округе г. Омска по адресу: 644103, улица
				Игоря Москаленко, 137/2.
				<p class="mt-4">
					Адрес для почтовой корреспонденции: 644103, улица Игоря Москаленко, 137/1.
				</p>
				<p class="mt-4">
					К нам удобно добираться как общественным транспортом (автобусы № 17, 21;
					маршрутные такси 414, 19, 344, 413, 394), так и на автомобиле.
				</p>
			</div>
			<div class="col-12 col-sm-6">
				<hr>
			</div>
			<div class="col-12">
				<div class="d-inline-block mr-4">
					<i class="fa fa-mobile" aria-hidden="true"></i> +7(3812) 405222
				</div>
				<div class="d-inline-block">
					<i class="fa fa-envelope" aria-hidden="true"></i> info@coredatanet.ru
				</div>
			</div>
		</div>
	</div>
</div>