{{!< default}} {{> firstlook}}
  <div class="index-wrapper">
    <div class="scroll-container" id="scroll-container">
      <div class="scroller" id="scroller">
        <div class="row">
          <div class="col-0 col-sm-1 left-divider"></div>
          <div class="col-2 m-3 letters">
            {{#each data.services}}
            <div class="row expander {{#if @first}} active {{/if}}">
              <div class="col">{{{substring this.title 0 1}}}</div>
            </div>
            {{/each}}
            <div class="row expander end">
            </div>
          </div>
          <div class="col-9 col-sm-8 col-md-8 services">
            {{#each data.services}}
            <div class="row short-description {{#if @first}} active {{else}} mt {{/if}}">
              <div class="col-12 wrapper">
                <div class="row content">
                  <div class="col-12 title">
                    {{this.title}}
                  </div>
                  <a href="/">
                    <div class="col-12 col-lg-8 text-block services-info">
                      <div class="main main-content main-content-service-card">
                      {{{this.content}}}
                      </div>
                    </div>
                    {{> description-image}}
                  </a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div id="canvas">
      <canvas id="c"></canvas>
    </div>
  </div>

  <div class="container-fluid _boffset">
    <div class="row">
      <div class="col p-0">
        <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1602060174/default/bg.png" alt="" loading="lazy">
      </div>
    </div>
  </div>

  {{!-- {{> serviceCards}} --}}

  <div class="container-fluid _email">
    <div class="row map-wrapper">
      <!--Yandex maps-->
      <div class="order-12 order-lg-1 col-12 col-lg-6 col-xl-7 map">
        <div id="map">
        </div>
      </div>
      <!---->
      <div class="order-1 order-lg-12 col col-lg-6 col-xl-4 py-3">
        <div class="enquiry-panel">
          <form method="post" id="contact-form">
            <div class="header">
              <h3 class="title">
                Напишите нам
              </h3>
              <div class="spinner-border text-primary" role="status" id="enquiry-indicator">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <input type="hidden" name="action" value="home">
            <div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
              <input type="text" name="name.full" class="form-control form-control-sm" placeholder="Имя и фамилия"
                value="{{formData.[name.full]}}">
            </div>
            <div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
              <input type="email" name="email" class="form-control form-control-sm" placeholder="Электронная почта"
                value="{{formData.email}}">
            </div>
            <div class="form-group">
              <input type="text" name="company" placeholder="Название компании" class="form-control form-control-sm"
                value="{{formData.company}}">
            </div>
            <div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
              <textarea name="message" placeholder="Сообщение..." rows="8"
                class="form-control form-control-sm">{{formData.message}}</textarea>
            </div>
            <div class="form-group">
              {{> captcha}}
            </div>
            <div id="enquiry-errors">
              <div class="enquiry-errors-content">
                <p><span class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ошибка,
                    проверьте введенные данные</span></p>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary btn-block btm-sm">Отправить сообщение</button>
            </div>
          </form>
          <div id="success-enquiry">
            <div class="success-enquiry-content">
              <h4>Спасибо, что связались c нами! <i class="fa fa-check text-success" aria-hidden="true"></i> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>