<div class="container">
	<div class="row">
		<div class="col-12 px-3 px-sm-5">
			<article>
				<p class="mt-3"><a href="/blog">&larr; Назад к новостям</a></p>
				<hr>
				<header>
					<h2 class="text-dark">{{data.post.title}}</h1>
					<h5 class="text-muted">
						{{{categoryList data.post.categories prefix="Добавлено в "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="post text-center">
					{{#if data.post.image}}<img
						src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}"
						class="img-fluid my-3 rounded">{{/if}}
					<div class="text-justify">
						{{{data.post.content.extended}}}
					</div>
				</div>
			</article>
		</div>
	</div>
</div>